# Compiler files
cache/
.cursor/
.vscode/
.claude/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/
web/
generous-auction-tests.md

# Dotenv file
.env
out-arcus/
